.App {
  text-align: center;
  background-color: black;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  padding: 10px;
}

.header {
  width: 75%;
  margin: 50px;
  background-color: purple;
  color: white;
  font-weight: 400;
  text-shadow: 0 0 8px rgb(202, 136, 255);
}

.title {
  font-weight: 700;
}

.title-divider {
  background-color: white;
}

.date {
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  width: 30%;
  background-color: rgb(87, 0, 87);
  border: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
}

.news-block {
  /* background-color: white; */
  margin-bottom: 30px;
}

.news-title {
  /* color: white; */
  /* text-shadow: 0 0 8px white; */
  margin-bottom: 30px;
  font-weight: bold;
}

.articles {
  text-align: left;
  margin-bottom: 10px;
}

.links {
  color: white;
}

.loading {
  color: white;
  margin-top: 30px;
}